body{
  font-family: 'Questrial', sans-serif;

}

td.text-right{
  font-weight: bold;
  width: 50%;
}

td.text.left{
  width: 50%;
}

body {
  background: url("Images/Weather\ 3.jpg") center center no-repeat fixed;
  background-size: cover;
  
  height: 100vh;
  
  justify-content: center;
  align-items: center;
}
.jumbotron{
 
  background-color: rgba(255,255,255, 0.8);
  border-radius: 50px;
 
}
.weather_form {
  margin-top: 75px;

}